<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Justin Voelkel | Senior Full Stack Developer</title>
    <link rel="stylesheet" href="/assets/styles/css/app.css">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>


